@import url(_reset.css);
.main-container {
  background-image: linear-gradient(#f829a2, white);
  height: 100%;
  width: 100%; }
  .main-container .container {
    max-width: 1300px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
    .main-container .container .navbar {
      display: flex;
      align-items: center;
      padding: 10px; }
      .main-container .container .navbar .nav {
        flex: 1;
        text-align: right; }
        .main-container .container .navbar .nav ul {
          display: inline-block; }
          .main-container .container .navbar .nav ul li {
            display: inline-block;
            margin-right: 20px; }
            .main-container .container .navbar .nav ul li a {
              text-decoration: none;
              font-size: 20px;
              font-weight: 700;
              color: #fff0f0;
              transition: background-color 0.5s;
              padding: 10px;
              border-radius: 10px; }
              .main-container .container .navbar .nav ul li a:hover {
                background-color: #fff;
                color: #a851fa; }
      .main-container .container .navbar .cart {
        height: 42px;
        width: 42px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 100%;
        transition: background-color 0.5s; }
        .main-container .container .navbar .cart:hover {
          background-color: #d3d3d3; }
    .main-container .container .row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 70px 5px; }
      .main-container .container .row .col-2 {
        flex-basis: 50%;
        min-width: 300px;
        margin-bottom: 100px; }
        .main-container .container .row .col-2 h1 {
          font-size: 48px;
          line-height: 60px;
          margin: 25px 0;
          color: #fff; }
        .main-container .container .row .col-2 p {
          font-size: 24px;
          color: #fff; }
        .main-container .container .row .col-2 img {
          max-width: 100%;
          padding: 40px 0; }
      .main-container .container .row .btn {
        display: inline-block;
        background: #a851fa;
        color: #fff;
        padding: 12px 50px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background-color 0.4s;
        border: 1px solid #fff;
        transition: box-shadow 0.3s ease; }
        .main-container .container .row .btn:hover {
          background-color: #fff;
          color: #000;
          border: 1px solid #00fff2;
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.categories {
  max-width: 1400px;
  margin: 50px auto; }

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .small-container .title {
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    line-height: 60px;
    color: #555; }
    .small-container .title::after {
      content: "";
      background: #00c4f5;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
  .small-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .small-container .row .col-3 {
      margin: 15px;
      flex-basis: 30%;
      margin-bottom: 30px;
      min-width: 250px; }
      .small-container .row .col-3 h2 {
        text-align: center;
        padding-top: 15px; }
      .small-container .row .col-3 .content-img {
        width: 100%;
        height: 100%;
        border-radius: 5px; }
    .small-container .row .col-4 {
      flex-basis: 20%;
      padding: 10px;
      min-width: 200px;
      margin-bottom: 50px;
      transition: transform 0.4s ease;
      cursor: pointer; }
      .small-container .row .col-4 img {
        width: 100%;
        height: 266.6px; }
      .small-container .row .col-4 .rating .fa {
        color: #f829a2; }
      .small-container .row .col-4:hover {
        transform: translateY(-10px);
        -moz-transform: translateY(-10px); }

.offer {
  background-image: linear-gradient(rgba(255, 189, 227, 0.7), rgba(255, 166, 65, 0.7));
  border-radius: 25px; }
  .offer .offer-container {
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px; }
    .offer .offer-container .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px; }
      .offer .offer-container .row .offer-col {
        padding-top: 15%; }
      .offer .offer-container .row .col-2 {
        flex-basis: 50%;
        min-width: 50%; }
        .offer .offer-container .row .col-2 h1 {
          font-size: 48px;
          line-height: 60px;
          font-weight: 600;
          margin: 25px 0;
          color: #555; }
        .offer .offer-container .row .col-2 p {
          font-size: 18px;
          color: #777; }
        .offer .offer-container .row .col-2 img {
          max-width: 100%;
          padding: 40px 0; }
        .offer .offer-container .row .col-2 .btn {
          display: inline-block;
          background: #a851fa;
          color: #fff;
          padding: 12px 50px;
          margin: 30px 0;
          border-radius: 30px;
          transition: background-color 0.4s;
          transition: box-shadow 0.3s ease; }
          .offer .offer-container .row .col-2 .btn:hover {
            background-color: #fff;
            color: #000;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.ref {
  padding-top: 100px; }
  .ref .quote {
    margin-top: 10px;
    font-size: 32px;
    color: #f829a2; }
  .ref .col-3 {
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s; }
    .ref .col-3 img {
      width: 100px;
      margin-top: 20px;
      border-radius: 50%; }
    .ref .col-3:hover {
      transform: translateY(-10px); }
  .ref h3 {
    font-size: 20px;
    font-weight: bold; }
  .ref p {
    font-size: 14px;
    color: #777;
    padding: 10px;
    letter-spacing: 1px; }
  .ref .rating {
    padding: 10px; }
    .ref .rating .fa {
      color: #f829a2; }

.brands {
  margin: 100px auto; }
  .brands .col-5 {
    width: 160px; }
    .brands .col-5 img {
      width: 100%;
      cursor: pointer;
      filter: grayscale(100); }
      .brands .col-5 img:hover {
        filter: grayscale(0); }

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px; }
  .footer .container {
    max-width: 1300px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
    .footer .container p {
      color: #8a8a8a; }
    .footer .container h3 {
      color: #fff;
      margin-bottom: 20px; }
    .footer .container .footer-col-1,
    .footer .container .footer-col-2,
    .footer .container .footer-col-3,
    .footer .container .footer-col-4 {
      min-width: 250px; }
    .footer .container .footer-col-1 {
      flex-basis: 30%; }
    .footer .container .footer-col-2 {
      float: 1;
      text-align: center; }
      .footer .container .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px; }
    .footer .container .footer-col-3,
    .footer .container .footer-col-4 {
      flex-basis: 12%;
      text-align: center; }

/*# sourceMappingURL=styles.css.map */
